.innercard{
	background-image: linear-gradient(#ffffff, #ffffff); 
	background: rgba(255, 255, 255, 0.24);
	border-radius: 10px;
	font-weight: bolder;
}

.icn{
	background: transparent;
}

@media only screen and (max-width: 800px) {
	.icn{
		position: absolute;
		top: 30px;
		right: 0;
	}
}